<!-- header -->
<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 style="font-size: 100px;">404</h1>
            <img height="300px" src="https://media4.giphy.com/media/C21GGDOpKT6Z4VuXyn/giphy.gif?cid=ecf05e47rl4tyw5b7vs8wu7399ybcoqkcx7l1xdu8x3j9v11&rid=giphy.gif&ct=g" alt="page not found image">
            <h4 class="mt-2">
                Look like you're lost !!!!
            </h4>
            <p>The page you are looking for is not available</p>
        </div>
    </div>
</div>